<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title> JS </title>
    <link rel="stylesheet" href="{{url_for('static',  filename='endless.css')}}">
</head>


<h1> Registration </h1>

<h2> <a href="{{url_for('index')}}">HOME</a></h2>

<form action="" method="Post" novalidate class="registration">
    {{form.hidden_tag()}}
    {{form.user_id.label}}
    {{form.user_id(placeholder="Username")}}
    {% for error in form.user_id.errors %}
        {{error}}
    {%endfor%}
    <br>
    {{form.password.label}}
    {{form.password(placeholder="Password")}}
    {% for error in form.password.errors %}
        {{error}}
    {%endfor%}
    <br>
    {{form.password2.label}}
    {{form.password2(placeholder="Confirm Password")}}
    {% for error in form.password2.errors %}
        {{error}}
    {%endfor%}

    {{form.submit()}}

</form>

<p> Already have an account? <a href="login">Login Here!</a></p>
<p>{{message}}</p>

